*.exe
.idea/
*.drawio
*.png
*.txt
output/
venv/
data/*.drawio
*.png
*.txt
output/
venv/
data/*.drawio
*.png
*.txt
output/
venv/
data/*.drawio
*.png
*.txt
output/
venv/
data/*.drawio
*.png
*.txt
output/
venv/
data/*.drawio
*.png
*.txt
output/
venv/
data/*.drawio
*.png
*.txt
output/
venv/
data/*.drawio
*.png
*.txt
output/
venv/
data/
